@use 'colors.module.scss' as *;

html,
body {
  font-family: Georgia, serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-feature-settings: normal;
  font-variant: normal;
}

html {
  font-style: 62.5%;

  scroll-behavior: smooth;
}